<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Иванов Иван Иванович</title>
<link href="style.css" type"text/css" rel="stylesheet">
</head>
<body>
	<div id="info">
		<p id="name">ИВАНОВ ИВАН ИВАНОВИЧ</p>
		<div id="foto">
		<img src="foto.jpg">
		</div>
		<p id="inf">Студент заборостроительного университета<p>
		<hr>
		<h4>Хочу учить фронтенд, потому что:</h4>
		<ul>
			<li>Заборы строить не интересно</li>
			<li>Платят мало</li>
			<li>Приходиться работать по ночам</li>
		</ul>
		<hr>
		<h4>Мой контактный телефон:</h4>
		<p>+38022222222</p>
		<h4>Мой профиль Вконтакте:</h4>
		<p><a href="vk.com">vk.com</a></p>
		<h4>Мой фидбек:</h4>
		<p>Если нужно, могу построить вам забор</p>
	</div>
</body>
