@media screen{
	body{
		background-color:red;
		background-image: url(backgr.jpg);
		width:1024px;
		height:1024px;
		font-family: Arial;
		
	}
	#info{
	position:relative;
	top:35px;
	left:260px;
		
	}
	hr{
		width:500px;
		position:relative;
		left:-270px;
	}
	#name{
		font-size:35px;
		font-weight:700;
	}
	#foto{
		position:relative;
		width:202px;
		height:202px;
		overflow:hidden;	
		left:140px;
		top:-10px;
	}
	
}